<a href="https://colab.research.google.com/github/dheeraj377/Python/blob/main/2205A21009_A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
Qualification=['venkat','B.Tech',2006,'Μ.Ε.',2011,'Ph.D', 2018]
Experience=['SSCE', 2007, 'infosys', '2011', 'ΑΙΤΑΜ', '2013', 'SREC', '2018']
CA=Qualification+Experience
print("Qualification=", Qualification)
print("Experience=", Experience)
print("CA=", CA)

Qualification= ['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018]
Experience= ['SSCE', 2007, 'infosys', '2011', 'ΑΙΤΑΜ', '2013', 'SREC', '2018']
CA= ['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018, 'SSCE', 2007, 'infosys', '2011', 'ΑΙΤΑΜ', '2013', 'SREC', '2018']

In [18]:
Qualification=['venkat','B.Tech',2006,'Μ.Ε.',2011,'Ph.D', 2018]
print(Qualification)
print(Qualification[0])
print(Qualification[1:])
print(Qualification[1:5])
print(Qualification*2)
print(Qualification[::-1])

['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018]
venkat
['B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018]
['B.Tech', 2006, 'Μ.Ε.', 2011]
['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018, 'venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018]
[2018, 'Ph.D', 2011, 'Μ.Ε.', 2006, 'B.Tech', 'venkat']

In [1]:
atuple=(' ramana', 1985, 'Thanmai',2014)
str='venkat'
list1=list(atuple)
list2=list(str)
print(list1)
print(list2)

[' ramana', 1985, 'Thanmai', 2014]
['v', 'e', 'n', 'k', 'a', 't']

In [2]:
Students=[ 'ram' , 'venkat']
print(Students)
Students.append ('Dev')
print(Students)

['ram', 'venkat']
['ram', 'venkat', 'Dev']

In [3]:
Grade= ['A', 'A', 'B' ,'C','A']
print( 'How many peoples got A grade' ,Grade. count('A' ))

How many peoples got A grade 3

In [5]:
Grade= ['A','A', 'B','C', 'A', 'B']
print( 'lowest index for grade B' ,Grade. index('B'))

lowest index for grade B 2

In [6]:
Family=[ 'Venkat', 'Swetha']
print( 'Family members' ,Family)
atuple=('Dev', 'Thanmai')
Family. extend(atuple)
print( 'Family members' ,Family)

Family members ['Venkat', 'Swetha']
Family members ['Venkat', 'Swetha', 'Dev', 'Thanmai']

In [7]:
Name=[ 'Ramana', 'Thanmai', 'Dev']
print ('Family members' , Name )
Name.insert(1, 'Swetha')
print ( 'Family members' , Name )

Family members ['Ramana', 'Thanmai', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']

In [9]:
Family=['Ramana', 'Swetha' , 'Thanmai', 'Dev']
print( 'Family members' , Family)
Family. pop()
print( 'Family members' , Family)
Family.pop (2)
print( 'Family members' , Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmai']
Family members ['Ramana', 'Swetha']

In [ ]:
Family=['Ramana', 'Swetha', 'Thanmai', 'Dev']
print( 'Family members' ,Family)
Family. remove( 'Ramana')
print ( 'Family members' , Family)

In [ ]:
Family=['Ramana', 'Swetha', 'Thanmai', 'Dev']
print( 'Family members' ,Family)
Family. reverse()
print( 'Family members' , Family)

In [10]:
Family=['Ramana', 'Swetha', 'Thanmai' , 'Dev']
print( 'Family members', Family)
Family.sort()
print( 'Family members' , Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Dev', 'Ramana', 'Swetha', 'Thanmai']

In [11]:
list=[' venkat', '1985']
print(list)
del list[1]
print(list)

[' venkat', '1985']
[' venkat']

In [12]:
Name= [ 'Ramana' , 'Thanmai', 'Dev']
DOB= [1985,2014,2017]
print( 'Number of peoples' , len (Name) )
print(' ========')
Details=Name+DOB # Concatination
print( 'Biodata' ,Details)
print('=========')
Repetition=Name*2
print( 'Repetition' ,Repetition)
print('=========')
for x in Name:
   print (x)
print( '========')

Number of peoples 3
 ========
Biodata ['Ramana', 'Thanmai', 'Dev', 1985, 2014, 2017]
=========
Repetition ['Ramana', 'Thanmai', 'Dev', 'Ramana', 'Thanmai', 'Dev']
=========
Ramana
Thanmai
Dev
========

In [13]:
Name=[ 'Ramana' , 'Thanmai', 'Dev']
DOB= [1985, 2014,2017]
print( 'Name with maximum charecters' ,max(Name) )
print('Younger person DOB' , max(DOB) )
print( 'Name with minimum charecters' , min (Name) )
print('Older person DOB' ,min (DOB))

Name with maximum charecters Thanmai
Younger person DOB 2017
Name with minimum charecters Dev
Older person DOB 1985

In [16]:
Students=['ram', 'venkat']
print(Students)
Students.append('Dev')
print (Students)

['ram', 'venkat']
['ram', 'venkat', 'Dev']

In [20]:
tuple=('venkat', 'B.Tech' ,2006)
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[:: -1])
print(tuple[2:0:-1])

('venkat', 'B.Tech', 2006)
venkat
('venkat', 'B.Tech')
('venkat', 'B.Tech', 2006)
(2006, 'B.Tech', 'venkat')
(2006, 'B.Tech')

In [22]:
tiny={ 'Name' : 'Venkat', 'Marks' :891}
print(tiny)
print (tiny[ 'Name'])
print (tiny[ 'Marks'])
tiny[ 'Name' ]='ramana'
print(tiny)

{'Name': 'Venkat', 'Marks': 891}
Venkat
891
{'Name': 'ramana', 'Marks': 891}

In [24]:
dict={}
print(dict)
dict['one']='This is one'
dict['2']='This is two'
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'This is one', '2': 'This is two'}
dict_keys(['one', '2'])
dict_values(['This is one', 'This is two'])

In [27]:
tuple=('venkat', 'B.Tech' ,2006)
pgtuple=('M.E','2011')
print(tuple*2)
print(tuple + pgtuple)
List=['venkat', 'Ph.D' ,2018]
print(List)
List[0]='Ramana'
print(List)

('venkat', 'B.Tech', 2006, 'venkat', 'B.Tech', 2006)
('venkat', 'B.Tech', 2006, 'M.E', '2011')
['venkat', 'Ph.D', 2018]
['Ramana', 'Ph.D', 2018]

In [28]:
thisset = {"apple" , "banana", "cherry"}
mylist = ["kiwi", "orange"]
mylist_2=(2,3)
mylist_3={"Name": "Venkat", "School" : "SRU"}
thisset.update(mylist)
thisset.update(mylist_2)
thisset.update(mylist_3)
print(thisset)

{2, 3, 'Name', 'orange', 'kiwi', 'cherry', 'banana', 'School', 'apple'}

In [29]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'papaya', 'cherry', 'banana', 'apple', 'pineapple'}

In [30]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print (x)

banana
apple
cherry